h1 {
    background-color:grey;
    margin: 0px auto;
    text-align: center;
    border: 10px;
    border-color: black;
    
}
 
.wrapper {
    background-color: brown;
    display: flex;
    height: 100vh;
  
    }

 .left {
   display: flex;
   justify-content: center;
   align-items: center;
    width: 400px;
    background-color: grey ;
    
    
 }   
 .right {
   width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1400px;
 }

 .group {
   
    display: flex;
    flex-direction: column;
    padding: px;
 }
 
 .submit {
   padding: 10px;
   margin: 10px auto;
 }
.violet {
   background-color: pink;
   width: 300px;
   border-radius: 10px;
}
p {
   color: white;
   margin: 10px;
}

.over {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

a {
   font-size: 20px;
   font-weight: bold;
   margin: 10px;
   background-color: brown;
   color: black;
}